.board {
  display: grid;
  gap: 5px;
}

.cell {
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  cursor: pointer;
  border: 1px solid black;
  font-size: 2rem;
  font-weight: 600;
}

.selected {
  cursor: not-allowed;
}
